@use './assets/styles/reset';
@use './assets/styles/colors';
@use './assets/styles/functions';

body {
  background: radial-gradient(
      circle,
      colors.$primary-variant 0%,
      colors.$primary 300%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}
a {
  color: inherit;
  font-family: titleRegular;
}
.container {
  width: 90%;
  max-width: 1320px;
  margin-inline: auto;
}
