@use './assets/styles/reset';
@use './assets/styles/colors';
@use './assets/styles/functions';
@use './assets/styles/_typography';

html {
  cursor: none;
  user-select: none;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: contentBold, sans-serif;
}
body {
  background: radial-gradient(
      circle,
      colors.$primary-variant 0%,
      colors.$primary 300%
    )
    no-repeat center center fixed;
  background-size: cover;
  color: colors.$light;
  overflow-x: hidden;
}
a {
  cursor: none;
  color: inherit;
  font-family: titleRegular, sans-serif;
}
p {
  max-width: 60ch;
}
.container {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
}
.section_philosophie,
.section_strategie,
.section_realisation,
.section_contact {
  margin-top: 240px;
  scroll-margin-top: functions.space(10);
}

// -------------------------- Cursor -------------------------- //
.cursor_dot {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: colors.$secondary;
  border-radius: 50%;
  transition: transform 400ms ease;
  &.enter {
    opacity: 0.2;
    transform: scale(4);
    background-color: colors.$secondary-variant;
  }
}
// -------------------------- Header -------------------------- //
.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: functions.space(5);
  .header_navbar-logo,
  .header_navbar-burger {
    z-index: 999;
  }
  .header_navbar-burger {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    .icon-bar {
      display: block;
      width: 100%;
      height: 1px;
      background-color: colors.$light;
      border-radius: 2px;
      float: right;
      transition: all 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
      &:nth-of-type(1) {
        transform: translate3d(0, -4px, 0);
      }
      &:nth-of-type(3) {
        transform: translate3d(0, 4px, 0);
      }
    }
    &.open {
      ~ .header_navbar-menu {
        transform: translate3d(0, 0, 0);
      }
      .icon-bar:nth-of-type(1) {
        transform: rotate(-45deg) translate3d(0, 0, 0);
      }
      .icon-bar:nth-last-of-type(2) {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .icon-bar:nth-of-type(3) {
        transform: rotate(45deg) translate3d(0, 0, 0);
      }
    }
  }
  .header_navbar-menu {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    background-color: colors.$primary-variant;
    width: 100%;
    height: 100%;
    padding: functions.space(5);
    transform: translate3d(0, -100vh, 0);
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
    .menu_item-link {
      font-size: 2rem;
    }
  }
}
// -------------------------- Section Hero -------------------------- //
.section_hero,
.section_philosophie,
.section_strategie,
.section_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: functions.space(10);
  .footer_copyright {
    padding: functions.space(2) 0;
    text-align: right;
  }
}
@media (hover: none) {
  .cursor_dot {
    display: none;
  }
}
@media (min-width: 1024px) {
  // -------------------------- Header -------------------------- //
  .header_navbar {
    .header_navbar-burger {
      display: none;
    }
    .header_navbar-menu {
      position: static;
      flex-direction: row;
      justify-content: flex-start;
      width: auto;
      height: auto;
      padding: 0;
      transform: none;
      background-color: transparent;
      .navbar_menu-item {
        &:not(:last-child) {
          margin-right: 80px;
        }
      }
      .menu_item-link {
        position: relative;
        font-family: titleRegular;
        font-size: 1rem;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: colors.$light;
          transform: scale(0);
          transform-origin: right;
          transition: transform 600ms ease-in-out 200ms;
        }
        &:hover::before {
          transition-delay: 200ms;
          transform: scale(1);
          transform-origin: left;
        }
      }
      .navbar_menu-title {
        display: none;
      }
    }
  }
  .section_hero,
  .section_philosophie,
  .section_strategie,
  .section_contact {
    flex-direction: row;
    justify-content: space-around;
  }
  .section_philosophie,
  .section_strategie,
  .section_contact {
    align-items: flex-start;
  }
  // -------------------------- Section Philosophie -------------------------- //
  .section_philosophie {
    & article,
    & figure {
      max-width: 50%;
    }
  }
  .section_strategie {
    flex-direction: row-reverse;
  }
  // -------------------------- Section Philosophie -------------------------- //
  .footer,
  .footer_social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer {
    justify-content: space-between;
    .social_item {
      padding-right: functions.space(10);
    }
  }
}
@media (min-width: 1440px) {
  // -------------------------- Header -------------------------- //
  .header_navbar {
    .header_navbar-menu {
      .navbar_menu-item:not(:last-child) {
        margin-right: 160px;
      }
    }
  }
}
