@font-face {
  font-family: contentRegular;
  src: local('SmoochSans Regular'), local('SmoochSans-Regular');
  src: url('/fonts/SmoochSans-Regulard.woff2') format('woff2'),
    url('/fonts/SmoochSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: contentBold;
  src: local('SmoochSans Bold'), local('SmoochSans-Bold');
  src: url('/fonts/SmoochSans-Bold.woff2') format('woff2'),
    url('/fonts/SmoochSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: titleRegular;
  src: local('Sarpanch Regular'), local('Sarpanch-Regular');
  src: url('/fonts/Sarpanch-Regulard.woff2') format('woff2'),
    url('/fonts/Sarpanch-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: titleBlack;
  src: local('Sarpanch Black'), local('Sarpanch-Black');
  src: url('/fonts/Sarpanch-Black.woff2') format('woff2'),
    url('/fonts/Sarpanch-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
